<%- include('../_partials/header') %>
<div class="container my-3">
    <h2 class="mb-3"><%= announcement.title %></h2>

    <div class="details">
        <div class="detail">
            <div class="detail-label">
                Tytuł
            </div>
            <div class="detail-content">
                <%= announcement.title %>
            </div>
        </div>
        <div class="detail">
            <div class="detail-label">
                Treść
            </div>
            <div class="detail-content">
                <%- announcement.content %>
            </div>
        </div>
    </div>
</div>
<%- include('../_partials/footer') %>