<%- include('../../_partials/header') %>
<div class="page-container container my-3">
    <h2>Edytuj profil</h2>
    <div class="text-muted"><%= schoolProfile.name %></div>

    <form method="post" class="form">

        <div class="form-field">
            <label for="nameInput" class="form-label">Nazwa</label>
            <input type="text" name="name" class="form-control" id="nameInput" placeholder="Maturzysta przerwy nie ma" value="<%= schoolProfile.name %>">
        </div>

        <div class="form-field">
            <label for="descriptionInput" class="form-label">Opis</label>
            <input type="text" name="description" class="form-control" id="descriptionInput" placeholder="Lekcja, temat" value="<%= schoolProfile.description %>">
        </div>

        <div class="form-field">
            <label for="availablePlacesInput" class="form-label">Liczba dostępnych miejsc</label>
            <input type="number" name="availablePlaces" class="form-control" id="availablePlacesInput" placeholder="28" value="<%= schoolProfile.availablePlaces %>">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Edytuj profil</button>
        </div>

    </form>

</div>
<%- include('../../_partials/footer') %>